@use 'root';
// *******************************************
// Global Styles
// *******************************************

body {
    background-color: root.$primary-color;
    font-family: root.$primary-font;
    font-size: root.$fs-reg;
    color: root.$neutral-white;
}

nav {
    $fs-nav: clamp(1.5rem, 1.43rem + 0.3500000000000001vw, 1.85rem);

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fs-nav;
    padding: 2rem clamp(1rem, 0.6rem + 2vw, 3rem) 0rem;
    z-index: 100;
}

.nav-link .fa-heart {
    color: root.$secondary-color;
    background-color: root.$neutral-white;
    padding: .5rem;
    border-radius: 50%;
}

.nav-link .fa-heart:hover {
    transform: scale(1.2);
    transition: root.$transition;
    color: root.$primary-accent-color;
}

.logo {
    display: flex;
    font-weight: root.$fw-bold;
    color: root.$secondary-color;
}

.logo img {
    display: inline;
}

.btn {
    background-color: root.$primary-color;
    color: white;
    border: none;
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    width: max-content;
}

.btn:hover,
.btn:focus {
    background-color: root.$primary-accent-color;
    color: root.$primary-color;
}










