@use 'root';
// *******************************************
// Welcome Screen Styles
// *******************************************

.welcome {
    // height: 100vh;
    margin-inline: 1rem;
}

.welcome-hero {
    position: relative;
    height: 700px;
}

.paw-print-bg {
    position: absolute;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1500px;
    height: 75%;
    top: 0;
    right: 0;
    z-index: -100;
}

.welcome-fanout {
    display: grid;
    gap: 1rem;
    place-items: center;
    width: 100%;
    height: 300px;
}

.welcome-fanout .callout {
    $clamp: clamp(0.85rem, 0.72rem + 0.65vw, 1.5rem);

    position: absolute;
    padding-block: $clamp;
    font-size: $clamp;
    width: clamp(18.75rem, 12.5rem + 31.25vw, 50rem);
    height: auto;
    background-color: root.$neutral-white;
    box-shadow: root.$box-shadow;
    transform-origin: center 100px;
    transition: all .6s linear;
    text-align: center;
    margin-top: 300px;
    z-index: 100;
}

.callout:first-child {
    background-color: root.$secondary-color;
    color: root.$neutral-white;
    transform: rotate(5deg);
    top: 70px;
}

.callout.two {
    background-color: root.$neutral-white;
    color: root.$primary-color;
    top: 150px;
}

.callout:last-child {
    background-color: root.$primary-accent-color;
    color: root.$primary-color;
    transform: rotate(-5deg);
    top: 230px;
}

.welcome-fanout:hover .callout:first-child {
    transform: rotate(10deg);
    top: 50px;
}

.welcome-fanout:hover .callout.two {
    transform: rotate(-2deg);
}

.welcome-fanout:hover .callout:last-child {
    transform: rotate(5deg);
    top: 250px;
}


// .scroll img {
//     margin: auto;
//     padding-top: .5rem;
// }

// .scroll {
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//     bottom: 20px;
//     display: grid;
//     align-content: center;
//     text-align: center;
//     border-radius: 50%;
//     border: 1px solid white;
//     aspect-ratio: 1/1;
//     width: 150px;
// }

.bg-img-dog {
    background: url('../images/dog_mascot.png');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    width: 380px;
    height: 100%;
    bottom: 0;
    left: 30px;
    z-index: 5;
}

.bg-img-cat {
        background-image: none;
    }

@media (min-width: 1200px) {
    .welcome-fanout {
        width: clamp(25rem, 20rem + 25vw, 50rem);
        margin: 0rem auto 0;
    }
    .bg-img-cat {
        background: url('../images/cat_mascot.png');
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        width: 430px;
        height: 100%;
        right: -120px;
        bottom: -200px;
        z-index: -5;
    }
    
}

@media (min-width: 1500px) {
    .welcome-fanout {
        .callout {
            margin-top: 200px;
        }
        .callout:first-child {
            transform: rotate(5deg);
            top: 50px;
        }
        .callout.two {
            color: root.$primary-color;
            top: 150px;
        }
        .callout:last-child {
            transform: rotate(-5deg);
            top: 250px;
        }
    }
    .welcome-fanout:hover {
        .callout:first-child {
            transform: rotate(10deg);
            top: 0;
        }
        .callout.two {
            transform: rotate(-2deg);
        }
        .callout:last-child {
            transform: rotate(5deg);
            top: 300px;
        }
    }
}

@media (max-width: 430px) {
    .bg-img-dog {
        width: 80%;
        bottom: -100px;
        z-index: -10;
    }
    .welcome-fanout .callout {
        margin: 2rem auto 0;
    }
}



.clear-search {
    color: root.$neutral-white;
    text-decoration: underline;
    grid-column: 1/-1;
    justify-self: end;
}

.pagination-btns {
    display: grid;
    // gap: 1rem;
    grid-template-columns: auto 1fr;
}

.pagination-btns:first-child {
    margin-left: -15px;
}

.pagination {
    margin-inline: 4rem;
}